<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />

    <application
        android:name=".MeteApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeteEgitici"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MeteEgitici.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".activities.DilGelisimActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".activities.MatematikActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".activities.BilisselActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".activities.YaraticilikActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".activities.FenBilgisiActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".activities.SosyalGelisimActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".activities.OyunlarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".activities.EbeveynActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".activities.QuizActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".activities.MemoryGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".activities.AchievementsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".activities.DailyChallengeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".activities.StatisticsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <service
            android:name=".services.BackgroundMusicService"
            android:exported="false" />
            
        <service
            android:name=".services.DownloadService"
            android:exported="false" />
            
        <receiver
            android:name=".receivers.NetworkChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mete.egitici.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
